<application>
  <name>RemoteTracker</name>
  <version>0.4.3-8</version>
  <description></description>
  <versionurl>http://remotetracker.sourceforge.net/config.xml</versionurl>
  <caburl>http://downloads.sourceforge.net/project/remotetracker/RemoteTracker/V0.4.3-8/RemoteTracker.CAB</caburl>
</application>